$color-pattens-blue: rgba(207, 216, 220, 1);
$color-hoki: rgba(96, 125, 139, 1);
$color-white: rgba(255, 255, 255, 1);
$color-nobel: rgba(158, 158, 158, 1);
$color-nero: rgba(33, 33, 33, 1);
$color-grey: rgba(177, 117, 117, 1);
$color-silver: rgba(189, 189, 189, 1);
$color-san-juan: rgba(69, 90, 100, 1);